<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="residents">
          <a href="/resident-dashboard"> Resident Dashboard</a>
        </div>
        <div class="company">
          <a href="/Company-Dashboard">Company Dashdoard</a>
        </div>
      </div>
      
      <div class="about">
        <h3>ABOUT WASTE ECOTRACK</h3>
        <div class="about-body">
          <div class="about-img">
            <img src="static/jack-blueberry-MfWtAeQS5oI-unsplash(2).jpg" alt="" srcset="">
          </div>
          <div class="about-text">
            <h3>ABOUT US</h3>
            <p class="about-p">
              The Waste EcoTrack Initiative aims to revolutionize waste
              management in Kisumu by leveraging cutting-edge technologies for
              greater transparency, efficiency, and community engagement. Our
              platform empowers residents to actively participate in sustainable
              waste management practices, transforming Kisumu into a cleaner,
              greener city.
            </p>
            <p>
              We envision a cleaner and more sustainable Kisumu, where
              technology empowers communities to actively participate in waste
              management. By fostering transparency, accountability, and
              community engagement, the Waste EcoTrack Initiative is
              committed to creating a healthier environment for current and
              future generations.
            </p>
           
          </div>
        </div>
      </div>
      <div class="join-us">
        <h3>JOIN US</h3>
        <p> <p>
          Be a part of the Waste EcoTrack Initiative and contribute to
          making our city a model for sustainable waste management.
          Together, we can drive positive change and build a cleaner,
          greener future for Kisumu.
        </p></p>
      </div>
      <div class="suggetions"></div>
    </div>
    <footer class="footer">
      <div class="waste">
        <h3>WASTE MANAGEMENT SYSTEM</h3>
        <p>Together lets reduce the production of E-waste by recycling them.</p>
        <div class="icons">
          <i class="fa fa-facebook" style="font-size: 36px"></i>
          <i class="fa fa-twitter" style="font-size: 36px"></i>
          <i class="fa fa-envelope" style="font-size: 36px"></i>
        </div>
      </div>

      <div class="uicklinks">
        <h3>QUICK LINK</h3>
        <li><a href="/" class="a">Home</a></li>
        <li><a href="/register" class="a">Register</a></li>
        <li><a href="/resident-dashboard" class="a"> Resident Dashboard</a></li>
        <li><a href="/Company-Dashboard" class="a">Company Dashdoard</a></li>
      </div>
      <div class="contact">
        <h3>CONTACT US</h3>

        <div class="email">
          <i class="fa fa-envelope"></i>
          <label for="">kwaste@gmail.com</label>
        </div>
        <div class="phone">
          <i class="fa fa-phone"></i>
          <label for="">+1234567890</label>
        </div>
      </div>
    </footer>
  </body>
</html>
