<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page </title>
    <link rel="stylesheet" href="/templates/css/style.css">
</head>
<body>
    <form action="/admin-login" method="POST">
        <label for="adminid">Admin ID:</label>
        <input type="text" id="adminid" name="adminid" required> 
        <br>
        <label for="pass">Password:</label>
         <input type="password" id="pass" name="pass" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>