<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/templates/css/style.css">
</head>
<body>
    <h1> THE MAIN PAGE  </h1>
    <H2> student section</H2>
    <p><a href="/login">Login</a> or <a href="/register">Register</a></p>
    <h2> Admin section </h2>
    <p><a href="/admin-login">Login</a> or <a href="/admin-registration">Register</a></p>
</body>
</html>
